/*Colors*/
$white: #ffffff;
$whiteGrey: #f9f9f9;
$greyB92: #ececec;
$ligtherGrey: #eaeaea;
$lightGrey:#d3d3d3;
$lgrey: #cccccc;
$grey: #999999;
$redapp: #ff2d2e;
$redTools: #ea312f;
$redPale: #db524b;
$bgLightGrey: #f5f5f5;
$bluegrey: #4b4b56;
$darkbluegrey: #373e47;
$darkestBluegrey: #04060c;
$green: #58b455;
$yellow: #f0ae42;
$black: #000000;
$cyan: #4fb6cf;
$darkBlue: #457189;
$purple: #44458b;
$blueForm: #3f51b5;
$orange: #ff960b;


$black-o-10: rgba(0, 0, 0, 0.1);
$white-o-90: rgba(255, 255, 255, 0.9);


/*media queries resolutions*/

$xtraSmallDevice: '(max-width: 575.98px)';
$smallDevice: '(max-width: 767.98px)';
$mediumDevice: '(max-width: 991.98px)';
$largeDevice: '(max-width: 1199.98px)';