<!--begin top content-->
<div class="top-content clearfix">
  <div class="container">
    <div class="  float-left">
      <h1 class="title-content">Dashboard</h1>
    </div>
    
  </div>
</div>
<!--end top content-->

<!--begin filter -->
<div class="filter-component ">
  <div class="container clearfix">
    <form>
      <div class="filter-field float-left">
        <div class="box-filter clearfix">
          <p class="text float-left"><i class="fas fa-filter"></i> Filtrar</p>
          <input type="text" name="" class="filter-input float-left" disabled/>
        </div>
      </div>
      <div class="filter-buttons float-left">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button class="btn btnApp bgRedAppColor" type="button" disabled> <i class="fas fa-plus"></i> filtros</button>
          <button class="btn btnApp bgRedAppColor" type="button" disabled> <i class="fas fa-caret-down"></i></button>
        </div>
        <button class="btn btnApp bgRedAppColor" type="button" disabled> <i class="fas fa-th"></i></button>
      </div>
    </form>
  </div>
</div>
<!--end filter -->

<!--begin body content-->
<div class="body-content clearfix">
  <div class="container">
    <!--begin user activities-->
    <div class="user-activities">
      <div class="name-user clearfix">
        <span class="user-initials rounded-circle">Pp</span>
        <h2>Andres Perez</h2>
      </div>
      <!--begin tasks-->
      <div class="tasks-box">
        <div class="title-tasks">
          <span class="icon rounded-circle">
            <i class="fas fa-phone"></i>
          </span>
          <h3>Llamadas</h3>
        </div>
        
        <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Llamar a Victoria Saavedra</h4>
            <p class="status-detail statusColor--Yellow">Pendiente</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-02-2019</p>
            <p><strong>Asunto:</strong> Llamada con el cliente solicitud de documentos</p>
            <p><strong>Detalles:</strong> Pedir documentos de aval del banco. </p>
          </div>
        </div>
        <!--end detail task-->

        <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Llamar a Santiago Rueda</h4>
            <p class="status-detail statusColor--Yellow">Pendiente</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-10-2017</p>
            <p><strong>Asunto:</strong> Verificar Lead.</p>
            <p><strong>Detalles:</strong> Verificar cliente para su posterior paso a oportunidad.</p>
          </div>
        </div>
        <!--end detail task-->

      </div>
      <!--end tasks-->

      <!--begin tasks-->
      <div class="tasks-box">
        <div class="title-tasks">
          <span class="icon rounded-circle">
            <i class="far fa-handshake"></i>
          </span>
          <h3>Reuniones</h3>
        </div>
        
        <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Andres Correa</h4>
            <p class="status-detail statusColor--Green">Solucionado</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-10-2017</p>
            <p><strong>Asunto:</strong> Reunion con el arquitecto en obra. </p>
            <p><strong>Detalles:</strong>Reunion para determinar las modificaciones necesarias dentro del apartamento 201 de reserva forestal. </p>
            <br>
            

            <iframe
              width="100%"
              height="300"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAX2wOLNoiayhZiUBR5P3euwhbY_192RGU 
                &q=Bogota+Carrera+10+2" allowfullscreen>
            </iframe>

            

          </div>
        </div>
        <!--end detail task-->

        <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Abogada reservas del paraiso</h4>
            <p class="status-detail statusColor--Yellow">Pendiente</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-10-2017</p>
            <p><strong>Asunto:</strong> Reunion abogada reserva del paraiso.</p>
            <p><strong>Detalles:</strong> Definicion del acuerdo de vecinos del conjunto reservas del paraiso. </p>
            <br>
            <iframe
              width="100%"
              height="300"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAX2wOLNoiayhZiUBR5P3euwhbY_192RGU 
                &q=Medellin+Carrera+50+53+10" allowfullscreen>
            </iframe>
          </div>
        </div>
        <!--end detail task-->

      </div>
      <!--end tasks-->
    </div>
    <!--end user activities-->

    <!--begin user activities-->
    <div class="user-activities">
      <div class="name-user clearfix">
        <span class="user-initials">Mh</span>
        <h2>Maria Hernandez</h2>
      </div>
      <!--begin tasks-->
      <div class="tasks-box">
        <div class="title-tasks">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <h3>Llamadas</h3>
        </div>
        
        
        <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Llamar a Santiago Rueda</h4>
            <p class="status-detail statusColor--Yellow">Pendiente</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-10-2017</p>
            <p><strong>Asunto:</strong> Verificar Lead.</p>
            <p><strong>Detalles:</strong> Verificar cliente para su posterior paso a oportunidad.</p>
          </div>
        </div>
        <!--end detail task-->

        
        <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Llamar a Santiago Rueda</h4>
            <p class="status-detail statusColor--Yellow">Pendiente</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-10-2017</p>
            <p><strong>Asunto:</strong> Verificar Lead.</p>
            <p><strong>Detalles:</strong> Verificar cliente para su posterior paso a oportunidad.</p>
          </div>
        </div>
        <!--end detail task-->

      </div>
      <!--end tasks-->

      <!--begin tasks-->
      <div class="tasks-box">
        <div class="title-tasks">
          <span class="icon">
            <i class="far fa-handshake"></i>
          </span>
          <h3>Reuniones</h3>
        </div>
        
          <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Abogada reservas del paraiso</h4>
            <p class="status-detail statusColor--Yellow">Pendiente</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-10-2017</p>
            <p><strong>Asunto:</strong> Reunion abogada reserva del paraiso.</p>
            <p><strong>Detalles:</strong> Definicion del acuerdo de vecinos del conjunto reservas del paraiso. </p>
            <br>
            
          </div>
        </div>
        <!--end detail task-->

         <!--begin detail task-->
        <div class="task-detail">
          <div class="tile-detail">
            <h4>Abogada reservas del paraiso</h4>
            <p class="status-detail statusColor--Yellow">Pendiente</p>
          </div>
          <div class="info-detail">
            <p class="date"><i class="far fa-calendar-alt"></i> 31-10-2017</p>
            <p><strong>Asunto:</strong> Reunion abogada reserva del paraiso.</p>
            <p><strong>Detalles:</strong> Definicion del acuerdo de vecinos del conjunto reservas del paraiso. </p>
            <br>
            
          </div>
        </div>
        <!--end detail task-->

      </div>
      <!--end tasks-->
    </div>
    <!--end user activities-->

  </div>
</div>
<!--end body content-->

