<!--begin top content-->
<div class="top-content clearfix">
  <div class="container">
    <div class="  float-left">
      <h1 class="title-content">Configuraciones</h1>
    </div>
    
  </div>
</div>
<!--end top content-->



<!--begin body content-->
<div class="body-content clearfix">
  <div class="container">
    <mat-tab-group>
      <mat-tab label="Tab 1">

        Content 1

      </mat-tab>
      <mat-tab label="Tab 2">Content 2</mat-tab>
      <mat-tab label="Tab 3">Content asd</mat-tab>
      <mat-tab label="Tab 4">Content 43243</mat-tab>
    </mat-tab-group>

  </div>
</div>
<!--end body content-->

